{{ technologies }}
<a
  href="{{ url }}"
  class="mt-1 mr-2 mb-1 inline-flex items-center space-x-1.5 text-sm bg-surfaces-100 py-0.5 px-1.5 rounded text-secondary-500 
            hover:text-primary-500"
>
  <span>
    {{ if technology_logo }}
    {{ technology_logo }}
    <img
      src="{{ url }}"
      alt="{{ alt }}"
      class="h-3 "
      loading="lazy"
    />
    {{ /technology_logo }}
    {{ else }}
    <i class="fa-regular {{ fontawesome_icon_class}}"></i>
    {{ /if}}
  </span>
  <span>
    {{ title }}
  </span>
</a>
{{ /technologies }}