<div class="mb-12">
  <h1>Technologies</h1>
  <p class="sub-headline">
    These are the technologies that Brian and his team at Instrumental Products are using in our projects (now or in the past).
  </p>
</div>


{{ taxonomy:technologies paginate="16" as="technologies" sort="date:desc" }}
<div class="divide-y-2 divide-secondary-200">
  {{ technologies }}
  {{ partial:listing :image="technology_logo" :title="title" :description="sub_headline" }}
  {{ /technologies }}
</div>
{{ if total_items > 16 }}
{{ partial:technologies/pagination }}
{{ /if}}

{{ /taxonomy:technologies }}
