<!-- About -->
<div
  id="about"
  class="space-y-6 pt-24"
>

  <h1>
    From concept to launched.
  </h1>

  <p>
    As a full stack product developer, I take new products from initial concept and strategy, to design, code, and launched to customers.
  </p>

  <p>
    I bring something of a killer combo to SaaS companies as both a multi-time founder myself <em>and</em> a full stack designer and developer.
  </p>


  <!-- Killer combo -->
  <div class="space-y-8 pt-6 pb-6
sm:space-y-12">

    <div class="flex-col space-y-4
  xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
  sm:space-x-8
  md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
    xs:w-12 xs:relative xs:top-[2px] 
    sm:w-8 
    lg:top-[4px]">
        <i class="fa-regular fa-mug-saucer"></i>
      </div>

      <div class="flex-1 space-y-0 
    xs:mt-[2px]
    sm:mt-2 
    md:mt-5">
        <p>
          <strong>
            I strategize <span class="whitespace-nowrap">as a founder.</span>
          </strong>
        </p>
        <p>
          Finding the fastest path to ship the right product for customers.
        </p>
      </div>
    </div>

    <div class="flex-col space-y-4 
  xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
  sm:space-x-8
  md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
  xs:w-12 xs:relative xs:top-[2px] 
  sm:w-8 
  lg:top-[4px]">
        <i class="fa-regular fa-pen-nib"></i>
      </div>

      <div class="flex-1 space-y-0 
    xs:mt-[2px]
    sm:mt-2 
    md:mt-5">
        <p>
          <strong>
            I ship product as a <span class="whitespace-nowrap">full stack builder.</span>
          </strong>
        </p>
        <p>
          Solving for the customer’s job to be done. As a designer, developer and strategist, I build modern web applications with a focus on simplicity and user experience.
        </p>
      </div>

    </div>

  </div>

  <p>
    <em>Instrumental Products</em> is my product studio where I partner with SaaS companies, creators, and founders to take new products from concept to launched.
  </p>


</div>