<!-- About -->
<div
  id="about"
  class="content pt-24"
>

  <h1>
    From concept to launched.
  </h1>

  <p>
    When you have an opportunity to bring a new product to market, speed and momentum are everything.
  </p>

  <p>
    <em>Instrumental Products</em> is my product studio where I (Brian Casel, <a
      href="https://twitter.com/casjam"
      target="_blank"
    >hi</a> 👋) partner with SaaS companies, creators, and founders to take new products from concept, to design to code and into the hands of customers as efficiently as possible.
  </p>

  <h2>
    Your shortcut to <em>shipped.</em>
  </h2>

  <!-- Benefits -->
  <div class="space-y-8 pt-6 pb-8
sm:space-y-12 sm:pb-12">

    <div class="flex-col space-y-4
  xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
  sm:space-x-8
  md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
    xs:w-12 xs:relative xs:top-[2px] 
    sm:w-8 
    lg:top-[4px]">
        <i class="fa-regular fa-fire"></i>
      </div>

      <div class="flex-1 space-y-0 
    xs:mt-[2px]
    sm:mt-2 
    md:mt-5">
        <div>
          <strong>
            Spark momentum.
          </strong><br />
          Come to us with that idea that’s been sitting dormant and let’s give it the starting energy it needs to gain momentum and turn into a tangible product we can shape, build and ship.
        </div>
      </div>
    </div>

    <div class="flex-col space-y-4 
  xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
  sm:space-x-8
  md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
  xs:w-12 xs:relative xs:top-[2px] 
  sm:w-8 
  lg:top-[4px]">
        <i class="fa-regular fa-bullseye-arrow"></i>
      </div>

      <div class="flex-1 space-y-0 
    xs:mt-[2px]
    sm:mt-2 
    md:mt-5">
        <div>
          <strong>
            Avoid distractions.
          </strong><br />
          Market pressure, hiring challenges, or runway constraints mean your product needs to get to customers as soon as possible. We avoid unnecessary distractions by shaping your product’s roadmap to shipping the right product, <em>fast.</em>
        </div>
      </div>

    </div>

    <div class="flex-col space-y-4 
  xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
  sm:space-x-8
  md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
  xs:w-12 xs:relative xs:top-[2px] 
  sm:w-8 
  lg:top-[4px]">
        <i class="fa-regular fa-arrow-progress"></i>
      </div>

      <div class="flex-1 space-y-0 
    xs:mt-[2px]
    sm:mt-2 
    md:mt-5">
        <div>
          <strong>
            Future-ready.
          </strong><br />
          Your V1 should give you a solid foundation you can build and iterate on without being bogged down by “legacy code” from your early days. We anticipate where your product is heading after V1 so that you your business can keep up with demand.
        </div>
      </div>

    </div>

  </div>

  <p>
    Got something to ship? Here's how we can help...
  </p>


</div>