<!-- Callouts -->
<div class="bg-off-white-100 py-24 sm:py-32">
  <div class="mx-auto px-6
              xs:max-w-lg 
              lg:px-8 lg:max-w-7xl">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="pt-0 mb-2">
        Three ways I can help
      </h2>
      <p class="font-text text-base 
                md:text-xl
                lg:text-2xl">
        Ready to build and ship products?<br class="lg:hidden"> Let's go...
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <div class="space-y-16 
                lg:flex lg:items-start lg:justify-between lg:space-x-16 lg:space-y-0">
        <div class="flex-1">
          <div class="mb-6 flex h-10 w-10 items-center justify-center rounded bg-white">
            <i class="fa-regular fa-play fa-lg text-secondary-400"></i>
          </div>
          <div class="flex items-baseline space-x-4">
            <h3 class="">
              Videos
            </h3>
            <span class="inline-block text-secondary-400 ml-2 font-semibold font-display text-[13px] uppercase tracking-widest">
              Free
            </span>
          </div>
          <p class="font-text flex-auto mb-3
                    sm:text-lg 
                    lg:mb-6">
            Every week I share a free video on YouTube to teach and inspire you on your full-stack founder journey.
          </p>
          <a href="https://youtube.com/@fullstackfounder" target="_blank" class="text-base font-semibold md:text-lg">
            Watch on YouTube
            <i class="fa-solid fa-arrow-right fa-sm ml-1"></i>
          </a>
        </div>

        <div class="flex-1">
          <div class="mb-6 flex h-10 w-10 items-center justify-center rounded bg-white">
            <i class="fa-regular fa-envelope fa-lg text-secondary-400"></i>
          </div>
          <div class="flex items-baseline space-x-4">
            <h3 class="">
              Newsletter
            </h3>
            <span class="inline-block text-secondary-400 ml-2 font-semibold font-display text-[13px] uppercase tracking-widest">
              Free
            </span>
          </div>
          <p class="font-text flex-auto mb-3
                    sm:text-lg 
                    lg:mb-6">
            Every Saturday I send a private newsletter with my favorite tips and shortcuts to leveling up as a full-stack founder.
          </p>
          <a href="/" class="text-base font-semibold md:text-lg">
            Get the newsletter
            <i class="fa-solid fa-arrow-right fa-sm ml-1"></i>
          </a>
        </div>

        <div class="flex-1">
          <div class="mb-6 flex h-10 w-10 items-center justify-center rounded bg-white">
            <i class="fa-regular fa-mug-saucer fa-lg text-secondary-400"></i>
          </div>
          <div class="flex items-baseline space-x-4">
            <h3 class="">
              Hire me
            </h3>
          </div>
          <p class="font-text flex-auto mb-3
                    sm:text-lg 
                    lg:mb-6">
            Bring my full-stack founder skills to <em>your</em> product, to help you deliver for customers. From planning sprints to MVP builds to ongoing coaching. Pending availability.
          </p>
          <a href="/services" class="text-base font-semibold md:text-lg">
            Let's talk
            <i class="fa-solid fa-arrow-right fa-sm ml-1"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / Callouts -->