<div class="relative">
  {{ partial:header mode="dark" }}
  <div class="z-20 relative mx-auto max-w-3xl px-6 pt-12 pb-16 
              sm:pb-24 
              lg:pt-16 lg:pb-56 lg:max-w-4xl">
    <div class="text-center">
      <h1 class="text-3xl font-medium tracking-normal text-off-white-50 mb-8 
                  sm:text-4xl sm:font-bold
                  md:text-5xl
                  lg:text-6xl">
        Full stack founders are the <span class="xs:whitespace-nowrap">new superheroes.</span>
      </h1>
      <div class="font-text max-w-lg mx-auto text-lg font-light text-secondary-200 
                  md:text-2xl md:leading-relaxed 
                  lg:max-w-3xl">
        <p class="mb-8">
          You can acquire the heroic stack of skills to take any product idea from design to code to launched and build a <span class="whitespace-nowrap">life-changing business.</span>
        </p>

        <p class="mb-3 lg:text-xl">
          <span class="opacity-60">New editions sent weekly by</span> <a
            href="#brian"
            class="whitespace-nowrap text-off-white-50 hover:text-primary-400"
          >Brian Casel</a>.
        </p>

        {{ partial:newsletter_subscribe_form button_text="Join us" additional_classes="mx-auto sm:w-3/5" form_name="hero_newsletter" }}

      </div>
    </div>
  </div>
  <div class="z-10 absolute top-0 left-0 w-full h-full bg-gradient-to-t from-tertiary-500 to-black">
    <div class="stars absolute top-0 left-0 h-full w-full"></div>
    <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-tertiary-500 via-transparent to-transparent"></div>
  </div>
</div>