<!--  Hero -->
<div class="bg-tert iary-500">

  {{ partial:header }}

  <div class="bg-off-white-50 px-8 relative isolate overflow-hidden pt-14">
    <img src="/assets/images/hero-bg.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-bottom">
    <div class="mx-auto max-w-3xl pt-32 pb-16 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-3xl font-medium tracking-normal text-off-white-50 mb-8 
                  xs:text-4xl sm:text-6xl md:font-bold 
                  lg:text-7xl">
          Full stack founders are the new superheroes.
        </h1>
        <div class="font-text space-y-10 text-lg font-light text-secondary-200 md:text-2xl md:leading-relaxed">
          <div class="space-y-2">
            <p>
              You can acquire a heroic stack of skills to take any product idea from design to code to launched build a life-changing business.
            </p>

            <p>
              New editions sent weekly by Brian Casel.
            </p>
          </div>

          <div class="font-display space-y-2
                      sm:mx-auto sm:flex sm:gap-x-4 sm:space-y-0 
                      sm:w-3/5">
            <input id="email-address" name="email" type="email" autocomplete="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-primary">
              Join Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Hero -->