<!-- Latest -->
<div class="bg-off-white-50 py-24 sm:py-32">
  <div class="mx-auto px-6
              xs:max-w-lg 
              lg:px-8 lg:max-w-7xl">

    <div class="space-y-16 
                lg:flex lg:items-start lg:space-x-16 lg:space-y-0 
                xl:space-x-24">
      <div class="flex-1 space-y-4 
                  lg:pt-5">
        <a href="#" class="xs:flex xs:items-baseline xs:space-x-6 xs:space-y-0">
          <h2 class="pt-0 mb-2">
            Latest issues
          </h2>
          <span class="flex items-center space-x-2 text-gray-300 hover:text-primary-500">
            <span class="font-medium">All issues</span>
            <i class="fa-solid fa-arrow-right fa-sm"></i>
          </span>
        </a>
        <p class="font-text text-base text-gray-600 
                md:text-xl
                lg:text-2xl">
          Every week, I share a new idea to help you in your journey to becoming a full stack founder. These are the latest issues...
        </p>
        <div class="pt-6">
          <p class="font-text text-base text-gray-600 mb-2
                md:text-lg
                lg:text-xl">
            Don't miss a new issue.
          </p>
          <div class="space-y-2 font-display
                        md:flex md:space-x-2 md:items-center md:space-y-0 
                        lg:w-3/4">
            <input id="email-address" name="email" type="email" autocomplete="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-primary">
              Subscribe
            </button>
          </div>
        </div>
      </div>

      <div class="flex-1 
                  lg:pt-6">

        <div class="space-y-16">

          <a href="#" class="block group">
            <div class="inline-block uppercase tracking-widest font-display text-sm font-medium text-secondary-400">
              Issue #1
            </div>
            <h3 class="mb-2 
                      group-hover:text-primary-500">
              Why learning how to code changes everything.
            </h3>
            <p class="font-text text-gray-600 mb-4">
              I'm a big believer in learning how to code. But not for the reasons you might think. In this issue, I'll share my story of how learning to code changed everything for me.
            </p>

            <div class="flex items-center space-x-6 tracking-wide text-sm text-base">
              <div class="flex items-center space-x-2">
                <img src="/assets/images/brian-casel-sm.jpg" alt="Brian Casel" class="h-6 w-6 rounded-full" />
                <div class="text-gray-400">
                  Brian Casel
                </div>
              </div>
              <div class="text-gray-300 opacity-80">
                Jan 6th, 2024
              </div>
            </div>
          </a>

          <a href="#" class="block group">
            <div class="inline-block uppercase tracking-widest font-display text-sm font-medium text-secondary-400">
              Issue #1
            </div>
            <h3 class="mb-2 
                      group-hover:text-primary-500">
              Why learning how to code changes everything.
            </h3>
            <p class="font-text text-gray-600 mb-4">
              I'm a big believer in learning how to code. But not for the reasons you might think. In this issue, I'll share my story of how learning to code changed everything for me.
            </p>

            <div class="flex items-center space-x-6 tracking-wide text-sm text-base">
              <div class="flex items-center space-x-2">
                <img src="/assets/images/brian-casel-sm.jpg" alt="Brian Casel" class="h-6 w-6 rounded-full" />
                <div class="text-gray-400">
                  Brian Casel
                </div>
              </div>
              <div class="text-gray-300 opacity-80">
                Jan 6th, 2024
              </div>
            </div>
          </a>

          <a href="#" class="block group">
            <div class="inline-block uppercase tracking-widest font-display text-sm font-medium text-secondary-400">
              Issue #1
            </div>
            <h3 class="mb-2 
                      group-hover:text-primary-500">
              Why learning how to code changes everything.
            </h3>
            <p class="font-text text-gray-600 mb-4">
              I'm a big believer in learning how to code. But not for the reasons you might think. In this issue, I'll share my story of how learning to code changed everything for me.
            </p>

            <div class="flex items-center space-x-6 tracking-wide text-sm text-base">
              <div class="flex items-center space-x-2">
                <img src="/assets/images/brian-casel-sm.jpg" alt="Brian Casel" class="h-6 w-6 rounded-full" />
                <div class="text-gray-400">
                  Brian Casel
                </div>
              </div>
              <div class="text-gray-300 opacity-80">
                Jan 6th, 2024
              </div>
            </div>
          </a>

          <a href="#" class="flex items-center space-x-2 text-gray-400 hover:text-primary-500">
            <span class="font-medium">All issues</span>
            <i class="fa-solid fa-arrow-right fa-sm"></i>
          </a>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- / Latest -->