<!-- Letter from Brian -->
<div class="bg-off-white-50 py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-5xl">
    <div class="mx-auto space-y-12 
    lg:inline-flex lg:justify-center lg:items-start lg:space-x-12 lg:space-y-0">

      <div class="w-1/2 relative space-y-2
                  xs:w-1/3 
                  md:space-y-0
                  lg:w-1/4 
                  xl:w-1/5">
        <img class="h-full w-full rounded-lg object-cover  shadow-2xl" src="/assets/images/brian-casel.jpg" alt="Brian Casel">
        <div class="space-y-0 leading-none text-black
                    md:absolute md:bottom-3 md:left-4 md:text-off-white-50">
          <div class="whitespace-nowrap font-medium text-base 
                      md:text-lg">
            Brian Casel
          </div>
          <div class="whitespace-nowrap opacity-50 text-sm">
            Full Stack Founder
          </div>
        </div>
      </div>

      <div class="flex-1">
        <div class="text-base leading-7">
          <h2 class="pt-0 mb-8">
            Hi. I’m Brian Casel. <br class="hidden sm:block" />
            I help founders go full-stack.
          </h2>
          <div class="font-text text-xl space-y-8 
                      lg:text-2xl">
            <p>Unfair advantages are hard to come by in business.</p>
            <p>You could get lucky. But luck isn’t reliable.</p>
            <p>While most entrepreneurs are out trying to raise money, hire developers, and wishing they could go-to-market faster, the <strong class="whitespace-nowrap">full stack founder</strong> is quietly working on their next idea. </p>
            <p>The full stack founder can go from idea to design to code to launch in a matter of weeks. And it only costs their time and creative energy.</p>
            <p>Full stack founders don’t need luck. We <em>acquired</em> our unfair advantage.</p>
            <p>Now it’s your turn.</p>
            <div class="md:py-2">
              <img src="/assets/images/brian-casel-signature.png" alt="Brian Casel" class="w-1/3 lg:relative lg:-left-8" />
            </div>
            <p>Brian Casel</p>
          </div>
        </div>

        <div class="border-t-4 border-gray-100 pt-8 mt-20">
          <div class="uppercase font-display font-medium text-base tracking-widest text-gray-300 mb-8">
            Seen on
          </div>
          <div class="flex flex-wrap items-start opacity-60">
            <img src="/assets/images/seen-on-logos/bootstrapped-web.png" alt="Bootstrapped Web" class="h-[17px] mr-8 mb-6" />
            <img src="/assets/images/seen-on-logos/mixergy.png" alt="Mixergy" class="h-[17px] mr-8 mb-6" />
            <img src="/assets/images/seen-on-logos/tropical-mba.png" alt="TropicalMBA" class="h-[17px] mr-8 mb-6" />
            <img src="/assets/images/seen-on-logos/smart-passive-income.png" alt="Smart Passive Income" class="relative -top-[7px] h-[27px] mr-8 mb-6" />
            <img src="/assets/images/seen-on-logos/microconf.png" alt="Microconf" class="relative -top-[5px] h-[27px] mb-6" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / Letter from Brian -->