<!-- Ways we can work -->
<div
  id="options"
  class="space-y-8 pt-16 
md:pt-24"
>

  <h2 class="mb-8">
    Some ways this <span class="whitespace-nowrap">can work...</span>
  </h2>

  <div class="">

    {{ partial:toggle_section 
      title="Let’s build & launch a whole product!" 
      link_text="Learn more..." }}

    <p>
      Me (and my tiny crew) will work with you to go from idea to design, code and launch of your V1 to customers.
    </p>

    <p>
      This can happen in as fast as 3 months (lean & mean shipping speed).
    </p>

    <p>
      I (Brian) leads the whole project, from vetting and refining the product idea and scope, to design, architecture, and product management through launch.
    </p>

    <p>
      I'll bring on a dev or 2 (at my cost) to speed up the build and get the product in your customers hands as efficiently as possible.
    </p>


    <p>
      After we ship your V1 to customers, if you need continued support, we’ve got you covered. Your post-launch options range from transferring the dev(s) who worked on your v1 into your direct employment, keeping us on for fractional product management, or continuous development retainers.
    </p>

    <h3>How much?</h3>

    <p>
      All-in, you’re looking at a 5-figure investment and a couple months timeline. We’ll dial in the proposal so that there are no surprises.
    </p>

    <p>
      For select opportunities, we can discuss a discount in exchange for equity in your new product. Let’s talk.
    </p>

    <p>
      <a
        href="/request"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>

    {{ /partial:toggle_section}}


    {{ partial:toggle_section 
      title="Let’s shape up something new in a 2-week sprint!" 
      link_text="Learn more..." }}

    <p>
      That big idea has been sitting dormant for months (years?). Why?
    </p>

    <p>
      You haven’t been able to start it due to lack of bandwidth, resources, team, (insert your preferred excuse here 🙃). I get it. The hardest part of these big hairy projects is starting!
    </p>

    <p>
      Bring me in to give this idea the starting energy it needs.
    </p>

    <p>
      In a 2-week planning sprint, I’ll work with you to take this idea from concept to a tangeable project that’s shaped-up, scoped-down, and ready to build.
    </p>

    <ul>
      <li>A call or two to talk goals and ideas</li>
      <li>Daily(ish) async messages as I dig into the details</li>
      <li>Thoughtfully prepared strategic plans for implementation</li>
      <li>Visual wireframes and rough mockups (where needed)</li>
      <li>Detailed technical specs ready for any technical team to run with</li>
    </ul>

    <p>
      These planning sprints have worked well for:
    </p>

    <ul>
      <li>Overhauling your customer onboarding flow</li>
      <li>Planning a new customer learning center</li>
      <li>Scoping and shaping a big new feature</li>
      <li>Planning a mobile app for a SaaS</li>
      <li>Planning a white labeled version of a product</li>
      <li><em>Or any other big product initiative to get off the ground!</em></li>
    </ul>

    <h3>
      How much?
    </h3>
    <p>
      2-week planning sprints have a 4-figure price tag and can be repeated throughout the year (pending availability).
    </p>

    <p>
      <a
        href="/request"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>
    {{ /partial:toggle_section }}

    {{ partial:toggle_section 
      title="Let’s problem-solve something quick!" 
      link_text="Learn more..." 
      has_sub_sections="true" }}

    <p>
      When you’ve got something specific and need a 2nd pair of eyes, ears, some fresh ideas, a sounding board, or quick technical help, this option is (usually) available.
    </p>

    <p>
      This 1-week thing includes the following:
    </p>

    <ul>
      <li>Send me a video laying out your main question or thing you want my input on.</li>
      <li>I’ll send you my detailed, thoughtful response on video within 2 business days.</li>
      <li>A few more async followup questions in the days that follow.</li>
      <li>All messages recorded, logged, downloadable, and easy to refer back to.</li>
    </ul>

    <p>
      Get my focused input on anything… But here’s what I love to dig into most:
    </p>

    {{ partial:toggle_section 
      title="Product Strategy" 
      sub_title="Idea, UI, onboarding, roadmap, etc." 
      sub_section="true" }}
    <ul>
      <li><strong>Pitch me your idea!</strong> I’ll break down some pros, cons, gotchas, and have you thought of’s?</li>
      <li><strong>Interface review.</strong> Show me your UI for a specific part of your product and I’ll share my thoughts on how to make it simpler and easier to use.</li>
      <li><strong>Onboarding review.</strong> Show me your customer’s onboarding flow and I’ll offer ideas how to improve conversions and retention.</li>
      <li><strong>Roadmap review.</strong> Show me your plan (or the plan your devs gave you) and I’ll poke holes in it and tell you if I spot any inconsistencies or red flags.</li>
    </ul>
    {{ /partial:toggle_section }}


    {{ partial:toggle_section 
      title="Business Strategy" 
      sub_title="Hiring, SaaS, Productized Services, Product Marketing, etc." 
      sub_section="true" }}
    <ul>
      <li><strong>Hiring first team members.</strong> Growing from a team of one to a few is one of the hardest hurdles. I’ve grown teams of 25+. Let’s talk about it.</li>
      <li><strong>SaaS startups.</strong> Self-funding & sustaining. Finding shortcuts. SaaS gotchas…</li>
      <li><strong>Productized consulting.</strong> I used to be known as the “Productized Service” guy. I even built and sold a productized service business. Ask me anything.</li>
      <li><strong>Product marketing.</strong> Website design teardown. Copywriting review. Navigating your funnel. Signup flows. Let’s take a look!</li>
    </ul>
    {{ /partial:toggle_section }}


    {{ partial:toggle_section 
      title="Technical Skills" 
      sub_title="Learning to code or design, Ruby on Rails, TailwindCSS, Javascript, etc." 
      sub_section="true" }}
    <ul>
      <li><strong>Learn to code.</strong> Whether you’re learning front-end or back-end (or both), I’ll help dial in your learning plan.</li>
      <li><strong>Learning Ruby on Rails.</strong> Learning RoR and hit a roadblock? Let’s take a look. I can probably un-block you (for good).</li>
      <li><strong>Learning design.</strong> Figma. User interfaces. Marketing site design. Layouts. User experience. Let’s clean it up and dial it in!</li>
      <li><strong>TailwindCSS.</strong> Front-end HTML & CSS was my love-language early on. Today, it’s TailwindCSS. I can help you build and design-in-browser with efficiency.</li>
      <li><strong>Vanilla Javascript.</strong> I’m no React wizard, but I love me some plain vanilla Javascript (and lightweight tools like Alpine JS and Stimulus JS). I can help :)</li>
    </ul>
    {{ /partial:toggle_section }}

    <h3>
      How much?
    </h3>

    <p>
      These have a 3-figure price tag and can be repeated as needed, pending current availability.
    </p>

    <p>
      <a
        href="/request"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>
    {{ /partial:toggle_section }}

  </div>

</div>