<!-- Ways we can work -->
<div
  id="options"
  class="space-y-8 pt-16 
md:pt-24"
>

  <h2 class="mb-8">
    Full Stack Product Development
  </h2>

  <p>
    Brian (and occasionally his small crew) cover all the bases to design and develop modern software products that are ready for customers.
  </p>

  <p>
    Here's what we do:
  </p>

  <div class="">

    {{ partial:toggle_section 
      title="Product strategy" 
      link_text="Go on..." }}

    <p>
      We work with you to nail down the core problem we're solving, who we're solving it for, and shaping up a clear and focused product roadmap.
    </p>

    <ul>
      <li>Customer research (we love the <em>jobs to be done</em> approach)</li>
      <li>Product planning (shaping up the right-sized scope for V1 and beyond)</li>
      <li>Technical planning (catching complexities and blockers before they happen)</li>
    </ul>

    <p>
      <a
        href="/contact"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>

    {{ /partial:toggle_section}}


    {{ partial:toggle_section 
      title="UI &amp; UX design" 
      link_text="Go on..." }}

    <p>
      We design modern, user-friendly interfaces that are easy to use, fast to build and iterate on as your product evolves.
    </p>

    <ul>
      <li>Wireframes and mockups (visual concepts we can discuss and use to guide development)</li>
      <li>Front-end UI development (we love TailwindCSS and lightweight Javascript interactions)</li>
      <li>Mobile-first interfaces that scale up to screens of all sizes</li>
    </ul>

    <p>
      <a
        href="/contact"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>

    {{ /partial:toggle_section}}

    {{ partial:toggle_section 
      title="Full stack app development" 
      link_text="Go on..." }}

    <p>
      Today's full stack development tooling has never been more efficient at rapidly building full featured software products. We use modern, mature and popular frameworks that you can build on for years to come.
    </p>

    <ul>
      <li>Front-end interfaces with TailwindCSS and lightweight JS interactions.</li>
      <li>Back-end development using mature, popular frameworks (our go-to's are Laravel or Ruby on Rails)</li>
      <li>Staging and production environments and server infrastructure</li>
    </ul>

    <p>
      <a
        href="/contact"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>

    {{ /partial:toggle_section}}

    {{ partial:toggle_section 
      title="Product marketing design" 
      link_text="Go on..." }}

    <p>
      If you don't already have a marketing site or brand, we can help establish your product's initial presence and sales tool.
    </p>

    <ul>
      <li>Modern mobile-friendly SaaS marketing site (typically a simple 1-pager works best!)</li>
      <li>A clean and friendly logo mark for your site and social profiles.</li>
      <li>A thoughtful style guide with colors, font choices, and guideance to keep things looking tight and consistent.</li>
    </ul>

    <p>
      <a
        href="/contact"
        class="icon-link"
      >
        <i class="fa-regular fa-envelope"></i>
        <span>Let’s talk</span>
      </a>
    </p>

    {{ /partial:toggle_section}}

  </div>

</div>