{{ partial:page_title }}

{{ content }}
{{ partial src="bard/{type}" }}
{{ /content }}

{{ form:contact }}

{{ if success }}
<div class="bg-white font-text rounded-lg border border-secondary-100 p-6 font-medium text-secondary-700">
  Message sent!
</div>
{{ else }}

{{ if errors }}
<div class="text-red-400 font-medium text-sm mb-4">
  {{ errors }}
  {{ value }}<br>
  {{ /errors }}
</div>
{{ /if }}

<div class="text-left space-y-4">
  {{ fields }}
  <div class="flex">
    {{ field }}
  </div>
  {{ /fields}}
  <button
    type="submit"
    class="btn btn-primary"
  >
    Send
  </button>
</div>

<input
  type="text"
  class="hidden"
  name="{{ honeypot ?? 'honeypot' }}"
>

{{ /if }}

{{ /form:contact }}
