<!-- Main -->
<div class="max-w-6xl mx-auto
            lg:flex lg:flex-row-reverse lg:items-start lg:justify-between lg:px-8 
            xl:max-w-7xl">

  {{ partial:navigation }}

  <!-- Body content -->
  <div class="flex-1 pb-24 px-8 max-w-lg mx-auto
              md:max-w-xl 
              lg:px-0 lg:max-w-none">

    <div class="space-y-6 pt-24 
            lg:pt-40">

      <div class="mx-auto {{ partial:prose_classes }}">
        {{ content }}
        {{ partial src="bard/{type}" }}
        {{ /content }}
      </div>

    </div>
  </div>

</div>