<div
  id="about"
  class="content pt-24"
>

  <h1>
    From concept to launched.
  </h1>

  <p>
    When you have an opportunity to bring a new product to market, speed and momentum are everything.
  </p>

  <p>
    <em>Instrumental Products</em> is my product studio where I (Brian Casel, <a
      href="https://twitter.com/casjam"
      target="_blank"
    >hi</a> 👋) partner with SaaS companies, creators, and founders to take new products from concept, to design to code and into the hands of customers as efficiently as possible.
  </p>

  <h2>
    Your shortcut to <em>shipped.</em>
  </h2>

  <!-- Benefits -->
  <div class="space-y-8 pt-6 pb-8
sm:space-y-12 sm:pb-12">

    <div class="flex-col space-y-4
xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
sm:space-x-8
md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
  xs:w-12 xs:relative xs:top-[2px] 
  sm:w-8 
  lg:top-[4px]">
        <i class="fa-regular fa-fire"></i>
      </div>

      <div class="flex-1 space-y-0 
  xs:mt-[2px]
  sm:mt-2 
  md:mt-5">
        <div>
          <strong>
            Spark momentum.
          </strong><br />
          Come with that idea that’s been sitting dormant and let’s give it the starting energy it needs to become a tangible product and build momentum.
        </div>
      </div>
    </div>

    <div class="flex-col space-y-4 
xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
sm:space-x-8
md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
xs:w-12 xs:relative xs:top-[2px] 
sm:w-8 
lg:top-[4px]">
        <i class="fa-regular fa-bullseye-arrow"></i>
      </div>

      <div class="flex-1 space-y-0 
  xs:mt-[2px]
  sm:mt-2 
  md:mt-5">
        <div>
          <strong>
            Avoid distractions.
          </strong><br />
          Market pressure, hiring challenges, or runway constraints mean your product needs to get to customers as soon as possible. Let's avoid unnecessary distractions by shaping your product’s roadmap to ship the right product, <em>fast.</em>
        </div>
      </div>

    </div>

    <div class="flex-col space-y-4 
xs:flex xs:flex-row xs:items-start xs:space-x-4 xs:space-y-0
sm:space-x-8
md:space-x-12">
      <div class="text-surfaces-300 text-2xl 
xs:w-12 xs:relative xs:top-[2px] 
sm:w-8 
lg:top-[4px]">
        <i class="fa-regular fa-arrow-progress"></i>
      </div>

      <div class="flex-1 space-y-0 
  xs:mt-[2px]
  sm:mt-2 
  md:mt-5">
        <div>
          <strong>
            Future-ready.
          </strong><br />
          Your V1 should give you a solid foundation you can build on without being bogged down by “legacy code” from your early days. Let's anticipate where your product is heading so that you can keep moving fast <em>after</em> we ship V1.
        </div>
      </div>

    </div>

  </div>

  <p>
    Got something to ship? Here's how we can help...
  </p>


  <div
    id="services"
    class="pt-16 md:pt-8"
  >

    <h2 class="mb-8">
      Full Stack Product Development
    </h2>

    <p>
      Brian (and occasionally his small crew) cover all the bases to design and develop modern software products that are ready for customers.
    </p>

    <p>
      Here's what we do:
    </p>

    <div class="space-y-8 mb-12">

      {{ partial:toggle_section 
      title="Product strategy" 
      sub_title="Shaping up a clear and focused product roadmap." }}

      <p>
        We work with you to nail down the core problem we're solving, who we're solving it for, and shaping up a clear and focused product roadmap.
      </p>

      <ul>
        <li>Customer research (we love the <em>jobs to be done</em> approach)</li>
        <li>Product planning (shaping up the right-sized scope for V1 and beyond)</li>
        <li>Technical planning (catching complexities and blockers before they happen)</li>
      </ul>

      <p>
        <a
          href="/contact"
          class="icon-link"
        >
          <i class="fa-regular fa-envelope"></i>
          <span>Let’s talk</span>
        </a>
      </p>

      {{ /partial:toggle_section}}


      {{ partial:toggle_section 
      title="UI &amp; UX design" 
      sub_title="modern, user-friendly, mobile & desktop UI & UX." }}

      <p>
        We design modern, user-friendly interfaces that are easy to use, fast to build and iterate on as your product evolves.
      </p>

      <ul>
        <li>Wireframes and mockups (visual concepts we can discuss and use to guide development)</li>
        <li>Front-end UI development (we love TailwindCSS and lightweight Javascript interactions)</li>
        <li>Mobile-first interfaces that scale up to screens of all sizes</li>
      </ul>

      <p>
        <a
          href="/contact"
          class="icon-link"
        >
          <i class="fa-regular fa-envelope"></i>
          <span>Let’s talk</span>
        </a>
      </p>

      {{ /partial:toggle_section}}

      {{ partial:toggle_section 
      title="Full stack app development" 
      sub_title="Building with a mature, popular stack you can grow with for years." }}

      <p>
        Today's full stack development tooling has never been more efficient at rapidly building full featured software products. We use modern, mature and popular frameworks that you can build on for years to come.
      </p>

      <ul>
        <li>Front-end interfaces with TailwindCSS and lightweight JS interactions.</li>
        <li>Back-end development using mature, popular frameworks (our go-to's are Laravel or Ruby on Rails)</li>
        <li>Staging and production environments and server infrastructure</li>
      </ul>

      <p>
        <a
          href="/contact"
          class="icon-link"
        >
          <i class="fa-regular fa-envelope"></i>
          <span>Let’s talk</span>
        </a>
      </p>

      {{ /partial:toggle_section}}

      {{ partial:toggle_section 
      title="Product marketing design" 
      sub_title="Your product's marketing site and brand." }}

      <p>
        If you don't already have a marketing site or brand, we can help establish your product's initial presence and sales tool.
      </p>

      <ul>
        <li>Modern mobile-friendly SaaS marketing site (typically a simple 1-pager works best!)</li>
        <li>A clean and friendly logo mark for your site and social profiles.</li>
        <li>A thoughtful style guide with colors, font choices, and guideance to keep things looking tight and consistent.</li>
      </ul>

      <p>
        <a
          href="/contact"
          class="icon-link"
        >
          <i class="fa-regular fa-envelope"></i>
          <span>Let’s talk</span>
        </a>
      </p>

      {{ /partial:toggle_section}}

    </div>

  </div>


  <h2 class="">
    Let's talk
  </h2>

  <p>
    Got something to ship? Let's discuss your project and see if we're a good fit.
  </p>

  <p>
    <a
      href="/contact"
      class="btn"
    >Get in Touch
    </a>
  </p>

</div>