<!-- Main -->
<div class="max-w-6xl mx-auto
            lg:flex lg:flex-row-reverse lg:items-start lg:justify-between lg:px-8 
            xl:max-w-7xl">

  {{ partial:header }}

  <!-- Body content -->
  <div class="flex-1 pb-24 px-8 max-w-lg mx-auto
  md:max-w-xl 
  lg:px-0 lg:max-w-none">

    {{ partial:home/about }}
    {{ partial:home/you }}
    {{ partial:home/services }}

    <!--Let's talk -->
    <div
      id="contact"
      class="space-y-8 pt-16 
    md:pt-24"
    >

      <h2 class="mb-8">
        Let's talk
      </h2>

      <p>
        <a
          href="mailto:hi@briancasel.com"
          class="btn"
        >Email Brian
        </a>
      </p>

    </div>

  </div>
</div>