<!doctype html>
<html lang="{{ site:short_locale }}"
      class="h-full">

<head>
  <meta charset="utf-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  >
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >
  {{ seo_pro:meta }}
  {{ if !open_graph_image }}
  {{ if featured_image }}
  {{ featured_image }}
  <meta
    property="og:image"
    content="{{ permalink }}"
  />
  <meta
    property="og:image:width"
    content="1200"
  />
  <meta
    property="og:image:height"
    content="630"
  />
  <meta
    property="og:image:alt"
    content="{{ alt ? alt : 'Brian Casel' }}"
  />
  <meta
    name="twitter:image"
    content="{{ permalink }}"
  />
  <meta
    name="twitter:image:alt"
    content="{{ alt ? alt : 'Brian Casel' }}"
  />
  {{ /featured_image }}
  {{ else }}
  <meta
    property="og:image"
    content="{{$ url('/assets/images/brian-casel-og.png') $}}"
  />
  <meta
    property="og:image:width"
    content="1200"
  />
  <meta
    property="og:image:height"
    content="630"
  />
  <meta
    property="og:image:alt"
    content="{{ title ? title : 'Brian Casel' }}"
  />
  <meta
    name="twitter:image"
    content="{{$ url('/assets/images/brian-casel-og.png') $}}"
  />
  <meta
    name="twitter:image:alt"
    content="{{ title ? title : 'Brian Casel' }}"
  />
  {{ /if }}
  {{ /if }}

  <script
    src="https://kit.fontawesome.com/8e089e8fef.js"
    crossorigin="anonymous"
  ></script>

  {{ vite src="resources/js/site.js|resources/css/site.css" }}
  <link
    rel="stylesheet"
    href="https://use.typekit.net/maf8xwl.css"
  >


  <!-- Favicon -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="assets/images/favicon/apple-touch-icon.png"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="assets/images/favicon/favicon-32x32.png"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="assets/images/favicon/favicon-16x16.png"
  >
  <link
    rel="manifest"
    href="assets/images/favicon/site.webmanifest"
  >
  <link
    rel="mask-icon"
    href="assets/images/favicon/safari-pinned-tab.svg"
    color="#171921"
  >
  <meta
    name="msapplication-TileColor"
    content="#171921"
  >
  <meta
    name="theme-color"
    content="#171921"
  >

  <script defer
          data-domain="briancasel.com"
          src="https://plausible.io/js/script.js"></script>

</head>

<body class="px-8 py-12 h-full
             md:px-10">

<div class="text-center space-y-12 h-full flex flex-col justify-between
            md:text-left">

  <div>

    {{ partial:header }}

    <div class="py-12
                sm:w-3/4 sm:mx-auto
                md:w-full md:px-32
                lg:max-w-4xl lg:mx-0">
      {{ template_content }}
    </div>

  </div>

  {{ partial:footer/footer }}

</div>

</body>

</html>
