---
title: "On the mic"
sub_headline: "Most weeks I publish a new podcast where I talk about what I'm working on, what I'm learning, and what's firing me
up at the moment."
---


<div class="space-y-20">

  {{ partial:podcast
  title="Bootstrapped Web"
  url="https://bootstrappedweb.com"
  image="bootstrapped-web.jpg"
  description="Since 2014, my co-host, Jordan Gal, and I get real about what's happening in our businesses. The ups.
  The downs. All of it. In real time." }}

  {{ partial:podcast
  title="Open Threads"
  url="https://openthreads.co"
  image="open-threads-podcast.png"
  description="Off and on since 2022 I host conversations with founder friends. We talk about startups, products,
  software, entrepreneurship, but also what's happening in our lives away from our screens and revenue graphs." }}

</div>

