---
title: "What I'm working on"
sub_headline: "These are the projects that keep me busy at the moment."
---

<div class="space-y-20">

  <div class="grid gap-12 text-left
              lg:grid-cols-2">

    {{ partial:projects/featured_project
    title="Tailor-Made UI"
    url="https://tailormadeui.com"
    display_link="tailormadeui.com"
    off_image="tailor-made-ui-off.svg"
    on_image="tailor-made-ui.svg"
    description="My UI/UX design service where I help SaaS companies improve their product with tailor-made UI design
    components."
    }}

    {{ partial:projects/featured_project
    title="Clarityflow"
    url="https://clarityflow.com"
    display_link="clarityflow.com"
    off_image="clarityflow-off.svg"
    on_image="clarityflow.svg"
    description="A SaaS product primarily used by coaches for async video, audio, and text communication with clients."
    }}

    {{ partial:projects/featured_project
    title="Sunrise Dashboard"
    url="https://sunrisedashboard.com"
    display_link="sunrisedashboard.com"
    off_image="sunrise-dashboard-off.svg"
    on_image="sunrise-dashboard.svg"
    description="A SaaS product to centralize all of your business metrics in a single dashboard with reporting and
    forecasting."
    }}

    {{ partial:projects/featured_project
    title="Ripple.fm"
    url="https://ripple.fm"
    display_link="ripple.fm"
    off_image="ripple-fm-off.svg"
    on_image="ripple-fm.svg"
    description="A platform for private podcasting with a community and networking with fellow listeners of your
    favorite podcasts."
    }}

  </div>

  <div class="text-left">

    <div class="mb-12">
      <h2 class="mb-3">
        All my projects
      </h2>
      <p>
        Let's work our way back to the beginning.
      </p>
    </div>

    <div class="hidden
                lg:text-secondary-700 lg:pb-4 lg:flex lg:items-start lg:space-x-20">
      <div class="w-1/4 flex items-start space-x-2">
        <div class="flex-1 uppercase font-medium text-base tracking-widest">
          Project
        </div>
        <div class=" uppercase font-medium text-base tracking-widest opacity-0
                    xl:opacity-100">
          Started
        </div>
      </div>

      <div class="flex-1 flex items-start space-x-20">

        <div class="flex-1 uppercase tracking-widest text-base font-medium">
          Description
        </div>

        <div class="flex-1 uppercase tracking-widest text-base font-medium">
          What happened?
        </div>

      </div>

    </div>

    <div class="border-t border-b divide-y divide-secondary-800 border-secondary-800">
      {{ partial:projects/project
      title="Tailor-Made UI"
      url="https://tailormadeui.com"
      started="2024"
      description="My UI/UX design service where I help SaaS companies improve their product with tailor-made UI design
      components."
      what_happened="Running" }}

      {{ partial:projects/project
      title="Sunrise Dashboard"
      url="https://sunrisedashboard.com"
      started="2024"
      description="A SaaS product to centralize all of your business metrics in a single dashboard with reporting and
      forecasting."
      what_happened="Building" }}

      {{ partial:projects/project
      title="Sunrise Dashboard"
      url="https://ripple.fm"
      started="2024"
      description="A platform for private podcasting with a community and networking with fellow listeners of your
      favorite podcasts."
      what_happened="Building" }}

      {{ partial:projects/project
      title="Clarityflow"
      url="https://clarityflow.com"
      started="2023"
      description="A SaaS product primarily used by coaches for async video, audio, and text communication with
      clients."
      what_happened="Running with my small team." }}

      {{ partial:projects/project
      title="ZipMessage"
      url="https://zipmessage.com"
      started="2021"
      description="The precursor to Clarityflow, which began as a general-purpose async video messaging tool."
      what_happened="In 2023 I rebranded it to Clarityflow and niched it down to serve coaches." }}

      {{ partial:projects/project
      title="ProcessKit"
      url="https://processkit.com"
      started="2019"
      description="A SaaS product for creating and running standard operating procedures."
      what_happened="Sold in 2022" }}

      {{ partial:projects/project
      title="Audience Ops"
      url="https://audienceops.com"
      started="2015"
      description="A content writing productized service company."
      what_happened="Sold in 2021" }}

      {{ partial:projects/project
      title="Productize"
      url="https://productizeandscale.com"
      started="2014"
      description="A course for consultants on how to productize a consulting service."
      what_happened="Sold in 2021" }}

      {{ partial:projects/project
      title="Thready"
      started="2019"
      description="A simple SaaS product for drafting and scheduling Twitter threads."
      what_happened="Sold in 2021" }}

      {{ partial:projects/project
      title="Sunrise KPI"
      started="2018"
      description="A simple SaaS product for collecting metrics into a dashboard with reports."
      what_happened="Sold in 2021" }}

      {{ partial:projects/project
      title="Big Snow Tiny Conf"
      url="https://bigsnowtinyconf.com"
      started="2013"
      description="A small annual retreat with founders to go snowboarding & skiing and talk business."
      what_happened="Still running" }}

      {{ partial:projects/project
      title="Restaurant Engine"
      url="https://restaurantengine.com"
      started="2012"
      description="A SaaS built on WordPress for hosted restaurant websites."
      what_happened="Sold in 2015" }}

      {{ partial:projects/project
      title="Hotel Propeller"
      url="https://hotelpropeller.com"
      started="2013"
      description="A SaaS built on WordPress for hosted hotel websites."
      what_happened="Sold in 2015" }}

      {{ partial:projects/project
      title="Design for Conversions"
      started="2012"
      description="An ebook product on the topic of designing marketing websites for products."
      what_happened="Retired in 2015" }}

      {{ partial:projects/project
      title="WP Bids"
      started="2010"
      description="A premium WordPress theme designed for creating proposals and price quotes."
      what_happened="Sold in 2015" }}

      {{ partial:projects/project
      title="ThemeJam"
      started="2010"
      description="A premium WordPress themes shop."
      what_happened="Sold in 2015" }}


    </div>

  </div>

</div>

