---
title: "What I'm working on"
sub_headline: "These are the projects that keep me busy at the moment."
---

<div class="space-y-20">

  <div class="grid gap-12 text-left
              lg:grid-cols-2">

    {{ partial:projects/featured_project
    title="Tailor-Made UI"
    url="https://tailormadeui.com"
    display_link="tailormadeui.com"
    off_image="tailor-made-ui-off.svg"
    on_image="tailor-made-ui.svg"
    description="My UI/UX design service where I help SaaS companies improve their product with tailor-made UI design
    components."
    }}

    {{ partial:projects/featured_project
    title="Clarityflow"
    url="https://clarityflow.com"
    display_link="clarityflow.com"
    off_image="clarityflow-off.svg"
    on_image="clarityflow.svg"
    description="A SaaS product primarily used by coaches for async video, audio, and text communication with clients."
    }}

    {{ partial:projects/featured_project
    title="Sunrise Dashboard"
    url="https://sunrisedashboard.com"
    display_link="sunrisedashboard.com"
    off_image="sunrise-dashboard-off.svg"
    on_image="sunrise-dashboard.svg"
    description="A SaaS product to centralize all of your business metrics in a single dashboard with reporting and
    forecasting."
    }}

    {{ partial:projects/featured_project
    title="Ripple.fm"
    url="https://ripple.fm"
    display_link="ripple.fm"
    off_image="ripple-fm-off.svg"
    on_image="ripple-fm.svg"
    description="A platform for private podcasting with a community and networking with fellow listeners of your
    favorite podcasts."
    }}

  </div>

</div>

