<div class="relative bg-off-white-100">
  {{ partial:header mode="light" }}

  <div class="z-20 relative mx-auto max-w-3xl px-6 pt-6 pb-16 text-center
              sm:pb-24 
              lg:pt-12 lg:pb-32 lg:max-w-4xl">
    <h1 class="text-3xl font-medium tracking-normal mb-1
                  xs:text-4xl 
                  sm:text-5xl sm:mb-2
                  md:font-bold 
                  lg:text-7xl">
      {{ headline ?? title }}
    </h1>

    {{ if sub_headline }}
    <p class="font-text text-lg 
              sm:text-xl 
              lg:text-2xl lg:max-w-2xl lg:mx-auto">
      {{ sub_headline }}
    </p>
    {{ /if }}
  </div>
</div>

<div class="bg-off-white-50 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-3xl">

    <div class="mx-auto {{ partial:prose_classes }}">
      {{ content }}
      {{ partial src="bard/{type}" }}
      {{ /content }}
    </div>

  </div>
</div>