<div class="relative bg-off-white-100">
  {{ partial:header mode="light" }}

  <div class="z-20 relative mx-auto max-w-3xl px-6 pt-6 pb-16 text-center
              md:pb-24
              lg:pt-12 lg:pb-32 lg:max-w-4xl">
    <h1 class="text-3xl font-semibold tracking-normal mb-1
                  xs:text-4xl 
                  sm:text-5xl sm:mb-2
                  md:font-bold 
                  lg:text-7xl">
      Let's build product.
    </h1>

    <p class="font-text text-lg 
              sm:text-xl 
              lg:text-2xl lg:max-w-2xl lg:mx-auto">
      I help founders and teams build better products, faster by bringing my <span class="text-black whitespace-nowrap font-semibold">full stack founder</span> experience <span class="whitespace-nowrap">to <em>your</em> business.</span>
    </p>

    <div class="mx-auto mt-12 
                md:mt-16">
      <img src="/assets/images/brian-casel.jpg" alt="Brian Casel" class="mx-auto rounded-full w-32 h-32" />
      <div>
        <p class="mt-4 font-medium text-xl text-black 
                  md:text-2xl">
          Brian Casel
        </p>
        <p class="w-56 mx-auto text-sm font-text text-gray-400 
                  md:text-base md:w-64">Full stack product designer, developer & strategist</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-off-white-50 px-6 pt-16 pb-24 
              sm:py-24 
              lg:pt-32 lg:pb-40">

  <div class="space-y-16 max-w-lg mx-auto
                lg:max-w-5xl lg:flex lg:items-start lg:space-x-12 lg:space-y-0 
                xl:max-w-6xl xl:space-x-16">

    <div class="flex-1">
      <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-6">
        <i class="fa-regular fa-messages fa-lg text-secondary-400"></i>
      </div>
      <div class="flex items-baseline space-x-4">
        <h3 class="">
          On-demand advising
        </h3>
      </div>
      <p class="font-text flex-auto mb-3
                            sm:text-lg 
                            lg:mb-6">
        Affordable, async access where we'll spend a week together to dig into something specific.
      </p>
      <a href="#on-demand" target="_blank" class="text-base font-semibold md:text-lg">
        Learn more
        <i class="fa-solid fa-chevron-down fa-sm ml-1"></i>
      </a>
    </div>

    <div class="flex-1">
      <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-6">
        <i class="fa-regular fa-map fa-lg text-secondary-400"></i>
      </div>
      <div class="flex items-baseline space-x-4">
        <h3 class="">
          Product planning sprints
        </h3>
      </div>
      <p class="font-text flex-auto mb-3
                  sm:text-lg 
                  lg:mb-6">
        A 2-week intensive collaboration where I'll come in to research, plan, scope and roadmap your next big feature or product.
      </p>
      <a href="#sprints" target="_blank" class="text-base font-semibold md:text-lg">
        Learn more
        <i class="fa-solid fa-chevron-down fa-sm ml-1"></i>
      </a>
    </div>

    <div class="flex-1">
      <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-6">
        <i class="fa-regular fa-rocket fa-lg text-secondary-400"></i>
      </div>
      <div class="flex items-baseline space-x-4">
        <h3 class="">
          Product development
        </h3>
      </div>
      <p class="font-text flex-auto mb-3
                  sm:text-lg 
                  lg:mb-6">
        Multi-month engagement where me and my small team work with you to build and ship the first version of your product.
      </p>
      <a href="#product" target="_blank" class="text-base font-semibold md:text-lg">
        Learn more
        <i class="fa-solid fa-chevron-down fa-sm ml-1"></i>
      </a>
    </div>

  </div>

  {{ partial:fancy_hr }}

  <div class="mx-auto max-w-lg 
              lg:max-w-2xl 
              xl:max-w-3xl">

    <div class="mx-auto {{ partial:prose_classes }}">

      <div id="on-demand" class="pt-4">
        <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-8 md:w-12 md:h-12 
                    lg:mb-12 lg:w-16 lg:h-16">
          <i class="fa-regular fa-messages text-lg text-secondary-400 
                    md:text-xl 
                    lg:text-2xl"></i>
        </div>

        <h2 class="pt-0 mt-0 mb-4
                   md:text-3xl md:pt-0 md:mt-0 
                   lg:text-4xl">
          On-demand advising
        </h2>

        <p>My most affordable way to offer direct coaching, advice and strategy to fellow product people.</p>

        <p>Each on-demand purchase includes:</p>

        <ul>
          <li>7-10 days of asynchronous discussion using video, audio, and text.</li>
          <li>Focus on a single big question or project you want feedback on.</li>
          <li>You keep all of our recordings and history.</li>
          <li>Discounted rates for repeat purchases.</li>
        </ul>

        <p>I offer advice in two flavors:</p>

        <h4>Strategic coaching</h4>

        <p>Product strategy, customer research, pricing strategy, career growth as an entrepreneur, hiring and management, developer team workflow, productized services, self-funding / bootstrapping...</p>

        <h4>Technical coaching</h4>

        <p>Learning to code, Ruby on Rails, TailwindCSS, user interface design, user experience, product marketing, marketing site design, branding...</p>

        <a href="/services/request" class="mt-4 inline-flex bg-white border border-off-white-100 rounded-lg py-3 px-4 items-center space-x-2">
          <span>Let's talk</span>
          <i class="fa-solid fa-arrow-right fa-2xs"></i>
        </a>
      </div>

      {{ partial:fancy_hr }}

      <div id="sprints" class="pt-4">
        <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-8 md:w-12 md:h-12 
                    lg:mb-12 lg:w-16 lg:h-16">
          <i class="fa-regular fa-map text-lg text-secondary-400 
                    md:text-xl 
                    lg:text-2xl"></i>
        </div>

        <h2 class="pt-0 mt-0 mb-4
                   md:text-3xl md:pt-0 md:mt-0 
                   lg:text-4xl">
          Product planning sprints
        </h2>

        <p>Planning a big new feature or the first version of your product? The shaping and planning phase is <em>critical</em>. That's what this service is aimed at.</p>

        <p>A typical planning sprint lasts two weeks. During that time, our collaboration will include:</p>

        <ul>
          <li>A call where I'll ask a ton of questions and gain a solid understanding of the problems we're aiming to solve (and more importantly, <em>why</em>).</li>
          <li>Async collaboration throughout our sprint</li>
          <li>Defining the scope and priorities</li>
          <li>Technical research</li>
          <li>Functional specs for developers</li>
          <li>User flows and rough wireframes (where needed)</li>
          <li>Roadmap planning and milestones</li>
        </ul>

        <p>When we wrap, you and your team should have everything you need to start implementing, building and shipping <em>the best version</em> of your product, without delay.</p>

        <p class="text-sm md:text-base lg:text-xl italic">I only book one of these at a time, and typically book out at least a month in advance. Inquire about current availability.</p>

        <a href="/services/request" class="mt-4 inline-flex bg-white border border-off-white-100 rounded-lg py-3 px-4 items-center space-x-2">
          <span>Let's talk</span>
          <i class="fa-solid fa-arrow-right fa-2xs"></i>
        </a>
      </div>

      {{ partial:fancy_hr }}

      <div id="product" class="pt-4">
        <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-white 
                    md:mb-8 md:w-12 md:h-12 
                    lg:mb-12 lg:w-16 lg:h-16">
          <i class="fa-regular fa-rocket text-lg text-secondary-400 
                    md:text-xl 
                    lg:text-2xl"></i>
        </div>

        <h2 class="pt-0 mt-0 mb-4
                   md:text-3xl md:pt-0 md:mt-0 
                   lg:text-4xl">
          Product development
        </h2>

        <p>On select occasions, I'm available to work with you on a multi-month engagement to design, build and launch the first version your product.</p>

        <p>The engagement spans the initial research and planning, into design, development, testing, and launch. I'll lead the design, architecture, and product management while collaborating closely with you and your team throughout the process.</p>

        <p class="text-sm md:text-base lg:text-xl italic">Available on a limited, exclusive basis. Inquire about current upcoming availability.</p>

        <a href="/services/request" class="mt-4 inline-flex bg-white border border-off-white-100 rounded-lg py-3 px-4 items-center space-x-2">
          <span>Let's talk</span>
          <i class="fa-solid fa-arrow-right fa-2xs"></i>
        </a>
      </div>


    </div>

  </div>
</div>