<div class="space-y-12">

  <div class="space-y-2
              md:space-y-0 md:flex md:items-center md:space-x-8">
    <a href="/"
       class="mx-auto block w-24 h-24 rounded-full border-4 border-black ring-2 ring-secondary-900">
      <img src="/assets/images/brian-casel.jpg"
           alt="Brian Casel"
           class="rounded-full">
    </a>

    <div class="flex-1 space-y-1
                md:space-y-1.5">
      <div class="text-secondary-300 text-2xl
                  md:text-4xl">
        Brian Casel
      </div>
      <div class="uppercase tracking-widest text-sm font-medium text-secondary-600 inline-flex items-center space-x-5
                  md:text-lg">
        <span>
          Founder
        </span>
        <span>
          Designer
        </span>
        <span>
          Builder
        </span>
      </div>
    </div>
  </div>

  {{ partial:nav/nav }}
</div>
