<a
  href="{{ url }}"
  class="flex-1 block group py-12"
>
  <div class="flex flex-col items-center justify-center space-y-3
              group-hover:border-primary-500 
              xs:space-y-0 xs:flex xs:flex-row xs:items-start xs:justify-between xs:space-x-8 ">

    {{ if image || fontawesome_icon_class }}
    <div class="w-auto text-center
                xs:mt-2 xs:w-12">
      {{ if image }}
      {{ image }}
      <img
        src="{{ url }}"
        alt="{{ alt }}"
        class="h-12 mx-auto 
        xs:h-auto xs:w-full"
        loading="lazy"
      />
      {{ /image }}
      {{ else }}
      <i class="fa-regular {{ fontawesome_icon_class }} text-5xl text-secondary-500 inline-block mx-auto"></i>
      {{ /if }}
    </div>
    {{ /if}}

    <div class="text-center 
    xs:text-left xs:flex-1">
      <h3 class="pt-0 text-center mb-2 
      xs:text-left ">
        {{ title }}
      </h3>
      {{ if description }}
      <p class="text-gray-500">
        {{ description }}
      </p>
      {{ /if }}

      <div class="inline-flex icon-link right-icon mt-2">
        <span>View</span>
        <i class="fa-regular fa-arrow-right fa-sm"></i>
      </div>
    </div>
  </div>
</a>