<!-- Navigation -->
<div
  class="sticky top-0 z-50
      md:w-1/5 md:mt-16 md:pt-8 md:pb-24"
  x-data="{ mobile_nav_open: false }"
>

  <div class="flex items-center justify-between px-2 py-2 bg-secondary-50
            md:text-center md:block md:rounded-lg md:px-4 md:pt-4 md:pb-2">

    <div class="text-center">
      <a
        href="/"
        class="mx-auto"
      >
        <div class="w-10 h-10 flex flex-col items-center justify-center uppercase tracking-widest font-semibold text-secondary-500 rounded bg-secondary-200 text-xl leading-0
                    md:hidden">
          IP
        </div>
        <div class="hidden uppercase tracking-widest font-semibold text-secondary-500 rounded bg-secondary-200 text-sm py-2 px-4 leading-0
                  md:block">
          <div>
            Instrumental
          </div>
          <div>
            Products
          </div>
        </div>
      </a>
    </div>

    <div class="">

      <div
        class="block mr-4 md:hidden"
        x-on:click="mobile_nav_open = ! mobile_nav_open"
      >
        <div class="flex items-center space-x-6">
          <a
            href="/contact"
            class="icon-link"
          >
            <i class="fa-regular fa-envelope fa-lg text-secondary-300 relative top-[1px]"></i>
            <span>
              New project
            </span>
          </a>

          <i
            class="fa-regular fa-bars fa-xl text-secondary-300"
            x-bind:class="mobile_nav_open ? 'hidden' : 'block'"
          ></i>
          <i
            class="fa-regular fa-xmark fa-xl text-secondary-300"
            x-bind:class="mobile_nav_open ? 'block' : 'hidden'"
          ></i>
        </div>
      </div>

      <div :class="mobile_nav_open ? 'absolute top-12 left-0 w-full bg-secondary-50 py-8 px-8' : 'hidden md:block'">
        <div class="text-base pt-4 pl-4 uppercase tracking-widest font-semibold font-labels space-y-6 pb-6
                  md:pt-8 md:text-sm md:pl-0
                  2xl:text-base">
          <a
            href="/#about"
            class="block mb-4"
          >
            About
          </a>
          <a
            href="/#services"
            class="block mb-4"
          >
            Services
          </a>
          <a
            href="/portfolio"
            class="block mb-4"
          >
            Portfolio
          </a>
          <a
            href="/articles"
            class="block mb-4"
          >
            Writing
          </a>
          <a
            href="/contact"
            class="block mb-4"
          >
            Contact
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
