<!-- Footer -->
<div class="bg-black py-24 text-off-white">

  <div class="px-8 text-center space-y-24">

    <div class="inline-flex flex-col items-center space-y-6 mx-auto">
      <img
        src="images/brian-casel.jpg"
        alt="Brian Casel"
        class="rounded-full border-4 border-black ring-2 ring-gray-800 h-24 "
      >
      <h3 class="text-off-white pt-0">
        More from Brian Casel
      </h3>
      <div class="flex flex-col items-center space-y-4 
                  md:flex-row md:space-y-0 md:space-x-10 md:justify-center 
                  lg:space-x-12
                  xl:space-x-16">
        <a
          href="https://briancasel.com/products"
          target="_blank"
          class="icon-link"
        >
          <i class="fa-regular fa-arrow-right"></i>
          <span>Products</span>
        </a>

        <a
          href="https://briancasel.com/podcasts"
          target="_blank"
          class="icon-link"
        >
          <i class="fa-regular fa-headphones"></i>
          <span>Podcasts</span>
        </a>

        <a
          href="https://youtube.com/@fullstackfounder"
          target="_blank"
          class="icon-link"
        >
          <i class="fa-brands fa-youtube"></i>
          <span>YouTube</span>
        </a>

        <a
          href="https://twitter.com/casjam"
          target="_blank"
          class="icon-link"
        >
          <i class="fa-brands fa-x-twitter"></i>
          <span>Twitter</span>
        </a>
      </div>
    </div>

    <div class="mx-auto">
      <a
        href="https://instrumentalproducts.com"
        class="inline-block"
      >
        <img
          src="images/instrumental-products-icon.svg"
          alt="Instrumental Products"
          class="h-20"
        >
      </a>
    </div>

    <div class="font-sm opacity-50">
      &copy; {{$ now()->year $}} Instrumental Products
    </div>

  </div>

</div>