<!-- Footer -->
<div class="bg-tertiary-500 text-secondary-200 py-12 sm:py-24">
  <div class="mx-auto px-6 text-center
              xs:max-w-lg 
              lg:px-8 lg:max-w-7xl lg:text-left">

    <div class="mb-24 
                lg:flex lg:items-start lg:space-x-24 lg:justify-between">

      <div class="mb-24 
                  lg:mb-0 lg:w-2/5">

        <a href="#" class="inline-block mb-8">
          <img src="/assets/images/full-stack-founder.svg" alt="Full Stack Founder" class="h-24 xs:h-24 lg:h-28 xl:h-32" />
        </a>

        <div class="lg:w-3/4">

        </div>
        <p class="mb-3 font-text">
          Receive new issues of Full Stack Founder, sent by Brian Casel to your inbox every Saturday.
        </p>
        <div class="space-y-2 font-display
                        md:flex md:space-x-2 md:items-center md:space-y-0">
          <input id="email-address" name="email" type="email" autocomplete="email" class="form-control" placeholder="Enter your email" required>
          <button type="submit" class="btn btn-primary">
            Subscribe
          </button>
        </div>
      </div>


      <div class="space-y-12">
        <div class="flex flex-col space-y-8 text-center text-lg
                    lg:flex-row lg:items-center lg:justify-end lg:space-y-0 lg:space-x-8 lg:flex-1">
          <a href="/" class="text-off-white-50 hover:text-primary-400">Newsletter</a>
          <a href="https://youtube.com/@fullstackfounder" target="_blank" class="text-off-white-50 hover:text-primary-400">YouTube</a>
          <a href="https://podcast.fullstackfounder.co" target="_blank" class="text-off-white-50 hover:text-primary-400">Podcast</a>
          <a href="/services" class="text-off-white-50 hover:text-primary-400">Services</a>
        </div>
        <div class="flex items-center space-x-4 justify-center 
                  lg:justify-end">
          <a href="https://twitter.com/casjam" target="_blank" class="text-sm font-semibold text-secondary-200 lg:text-base hover:text-primary-400">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a href="https://www.threads.net/@brian.casel" target="_blank" class="text-sm font-semibold text-secondary-200 lg:text-base hover:text-primary-400">
            <i class="fa-brands fa-threads"></i>
          </a>
          <a href="https://youtube.com/@fullstackfounder" target="_blank" class="text-lg font-semibold text-secondary-200 lg:text-xl hover:text-primary-400">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="https://www.linkedin.com/in/briancasel/" target="_blank" class="text-sm font-semibold text-secondary-200 lg:text-base hover:text-primary-400">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="font-sm opacity-50">
      &copy; {{$ now()->year $}} Full Stack Founder
    </div>
  </div>
</div>
<!-- / Footer -->