<!-- Navigation -->
<div
  class="sticky top-0 z-50
      lg:w-1/4 lg:pt-8 lg:mt-32 lg:pb-24"
  x-data="{ mobile_nav_open: false }"
>

  <div class="flex items-center justify-between px-4 py-4 bg-surfaces-100
            lg:text-center lg:block lg:rounded-lg ">

    <div class="text-center">
      <a
        href="/"
        class="mx-auto"
      >
        <div class="flex flex-col items-center justify-center h-10 w-10 lg:hidden">
          <img
            src="assets/images/instrumental-products-icon.svg"
            alt="Instrumental Products"
            class="h-8"
          />
        </div>
        <div class="hidden 
                  lg:block lg:mt-6 lg:px-4">

          <img
            src="assets/images/instrumental-products.svg"
            alt="Instrumental Products"
            class=""
          />
        </div>

        <div class="hidden font-labels uppercase tracking-[.2em] font-semibold text-black
                  lg:block lg:text-xl lg:text-center lg:pt-8">
          <div>
            Instrumental
          </div>
          <div>
            Products
          </div>
        </div>
      </a>
    </div>

    <div class="">

      <div
        class="block lg:hidden"
        x-on:click="mobile_nav_open = ! mobile_nav_open"
      >
        <i
          class="fa-regular fa-bars fa-xl text-surfaces-300"
          x-bind:class="mobile_nav_open ? 'hidden' : 'block'"
        ></i>
        <i
          class="fa-regular fa-xmark fa-xl text-surfaces-300"
          x-bind:class="mobile_nav_open ? 'block' : 'hidden'"
        ></i>
      </div>

      <div :class="mobile_nav_open ? 'absolute top-16 left-0 w-full bg-surfaces-100 py-8 px-8' : 'hidden lg:block'">
        <div class="text-xl pt-12 uppercase tracking-widest font-semibold font-labels space-y-6 pb-6 
                  lg:pt-12 lg:text-lg">
          <a
            href="/#about"
            class="block mb-4"
          >
            About
          </a>
          <a
            href="/#services"
            class="block mb-4"
          >
            Services
          </a>
          <a
            href="/articles"
            class="block mb-4"
          >
            Writing
          </a>
          <a
            href="/request"
            class="block mb-4"
          >
            Let's talk
          </a>
        </div>
      </div>
    </div>

  </div>

</div>