<div class="mb-12">
  <h1>The Portfolio</h1>
  <p class="sub-headline">
    Browse the portfolio of software products and projects that Brian and his team have built. Some are owned by Brian, some were built in partnership with some wonderful clients.
  </p>
</div>

{{ collection:projects paginate="16" as="projects" sort="date:desc" }}
<div class="divide-y-2 divide-surfaces-200">
  {{ projects }}
  {{ partial:listing :image="project_logo_square" :title="title" :description="sub_headline" }}
  {{ /projects }}
</div>
{{ if total_items > 16 }}
{{ partial:projects/pagination }}
{{ /if}}

{{ /collection:projects }}