<div class="divide-y-4 divide-surfaces-100 text-left">

  <!-- Title -->
  <div class="py-8">
    <div class="mb-4  
                md:flex md:items-center md:space-x-6 md:justify-between">
      {{ if logo_as_title == true }}
      {{ if project_logo_full }}
      {{ project_logo_full }}
      <img
        src="{{ url }}"
        alt="{{ alt }}"
        class="h-16"
        loading="lazy"
      />
      {{ /project_logo_full }}
      {{ /if }}
      {{ else }}
      <h1 class="pt-0 mb-0">
        {{ title }}
      </h1>
      {{ /if }}

      {{ if website_url }}
      <a
        href="{{ website_url }}"
        class="icon-link text-surfaces-400 mt-4 
                md:mt-0"
        target="_blank"
      >
        <span>Visit Site
        </span>
        <i class="fa-solid fa-external-link fa-xs relative"></i>
      </a>
      {{ /if }}
    </div>
    {{ if sub_headline }}
    <p class="sub-headline">
      {{ sub_headline }}
    </p>
    {{ /if }}
  </div>

  <!-- Meta -->
  <div class="grid grid-cols-1 gap-6 py-8
              md:grid-cols-2">

    {{ if project_status }}
    {{ partial:meta_item label="Status" }}
    {{ project_status }}
    {{ /partial:meta_item}}
    {{ /if }}


    {{ if launched_date }}
    {{ partial:meta_item label="Launched" }}
    {{ launched_date }}
    {{ /partial:meta_item}}
    {{ /if }}


    {{ if technologies }}
    {{ partial:meta_item label="Technologies" }}
    {{ partial:technologies/technologies }}
    {{ /partial:meta_item}}
    {{ /if }}


    {{ if skills }}
    {{ partial:meta_item label="Skills" }}
    {{ partial:skills/skills }}
    {{ /partial:meta_item}}
    {{ /if }}


  </div>

  <!-- Content -->
  <div class="py-8">
    {{ if featured_video }}
    <div class="px-2 mb-6 
              sm:px-0 
              lg:mb-10">
      <iframe
        src="{{ featured_video | embed_url }}"
        class="aspect-video w-full overflow-hidden 
                    sm:rounded-lg sm:mx-0"
      ></iframe>
    </div>
    {{ elseif featured_image }}
    {{ featured_image }}
    <img
      src="{{ url }}"
      alt="{{ alt }}"
      class="w-full overflow-hidden rounded mb-6 
          lg:mb-10"
      loading="lazy"
    />
    {{ /featured_image }}
    {{ /if }}

    <div class="content">
      {{ content }}
      {{ partial src="bard/{type}" }}
      {{ /content }}
    </div>
  </div>

</div>