<div class="divide-y-4 divide-surfaces-100 text-left">

  <!-- Title -->
  <div class="py-8">
    <div class="mb-4 pt-6">
      {{ if logo_as_title == true }}
      {{ if project_logo_full }}
      {{ project_logo_full }}
      <img
        src="{{ url }}"
        alt="{{ alt }}"
        class="h-16"
        loading="lazy"
      />
      {{ /project_logo_full }}
      {{ /if }}
      {{ else }}
      <h1>
        {{ title }}
      </h1>
      {{ /if}}
    </div>
    {{ if sub_headline }}
    <p class="sub-headline">
      {{ sub_headline }}
    </p>
    {{ /if }}
  </div>

  <!-- Meta -->
  <div class="grid grid-cols-1 gap-6 py-8
              md:grid-cols-2">

    {{ if project_status }}
    {{ partial:projects/project_meta label="Status" }}
    {{ project_status }}
    {{ /partial:projects/project_meta}}
    {{ /if }}


    {{ if launched_date }}
    {{ partial:projects/project_meta label="Launched" }}
    {{ launched_date }}
    {{ /partial:projects/project_meta}}
    {{ /if }}


    {{ if technologies }}
    {{ partial:projects/project_meta label="Technologies" }}
    {{ taxonomy:technologies }}
    <a
      href="{{ url }}"
      class="mt-1 mr-2 mb-1 inline-flex items-center space-x-2 text-sm bg-surfaces-100 py-1 px-2 rounded text-gray-600 
            hover:text-primary-500"
    >
      <span>
        {{ if technology_logo }}
        {{ technology_logo }}
        <img
          src="{{ url }}"
          alt="{{ alt }}"
          class="h-3 "
          loading="lazy"
        />
        {{ /technology_logo }}
        {{ else }}
        <i class="fa-solid {{ fontawesome_icon_class}}"></i>
        {{ /if}}
      </span>
      <span>
        {{ title }}
      </span>
    </a>
    {{ /taxonomy:technologies }}
    {{ /partial:projects/project_meta}}
    {{ /if }}

  </div>

  <!-- Content -->
  <div class="py-8">
    {{ if featured_video }}
    <div class="px-2 mb-6 
              sm:px-0 
              lg:mb-10">
      <iframe
        src="{{ featured_video | embed_url }}"
        class="aspect-video w-full overflow-hidden 
                    sm:rounded-lg sm:mx-0"
      ></iframe>
    </div>
    {{ elseif featured_image }}
    {{ featured_image }}
    <img
      src="{{ url }}"
      alt="{{ alt }}"
      class="w-full overflow-hidden rounded mb-6 
          lg:mb-10"
      loading="lazy"
    />
    {{ /featured_image }}
    {{ /if }}


    {{ content }}
    {{ partial src="bard/{type}" }}
    {{ /content }}
  </div>

</div>