<div
  class="flex-1 block group"
>
  <div class="rounded space-y-6
              md:flex md:items-start md:space-x-6 md:space-y-0">

    <div class="flex-1 pb-6 space-y-4">

      <h2 class="pt-0
                group-hover:text-primary-500">
        <a href="{{ url }}"
           class="text-secondary-300
                  hover:text-primary-400">
          {{ title }}
        </a>
      </h2>

      <div class="">
        {{ if excerpt }}
        {{ excerpt }}
        {{ else }}
        {{ content | strip_tags | truncate(200, '...') }}
        {{ /if }}
      </div>

      <div class="flex items-center space-x-6 tracking-wide">
        
        <div class="text-secondary-600">
          {{ date }}
        </div>
      </div>
    </div>
  </div>
</div>
