<article class=" ">

  <div class="">

    <div>

      <h1 class="">
        {{ title }}
      </h1>

      <div class="mt-6 mb-12 tracking-wide space-y-2
                  md:flex md:items-center md:space-x-4 md:space-y-0">
        <div class="text-secondary-600">
          Brian Casel
        </div>
        <div class="text-secondary-600">
          &middot;
        </div>
        <div class="text-secondary-600">
          {{ date }}
        </div>
      </div>
    </div>

    <div class="content">
      {{ content }}
    </div>


    <div class="mt-16 space-y-4">

      <!-- Meta -->
      <div class="">

        {{ if post_tags }}
        {{ partial:meta_item label="Tags" }}
        {{ partial:posts/tags }}
        {{ /partial:meta_item}}
        {{ /if }}

      </div>

    </div>
  </div>

</article>
