<a
  href="{{ url }}"
  class="flex-1 block group"
>
  <div class="rounded space-y-6 
              md:flex md:items-start md:space-x-6 md:space-y-0">
    {{ if featured_image }}
    <div class="w-full 
                md:w-1/4 md:mt-1">
      {{ featured_image }}
      <img
        src="{{ url }}"
        alt="{{ alt }}"
        class="w-full overflow-hidden rounded"
        loading="lazy"
      />
      {{ /featured_image }}
    </div>
    {{ /if }}

    <div class="flex-1 pb-6">

      <h3 class="mb-2 pt-0 text-lg 
                xs:text-xl
                group-hover:text-primary-500">
        {{ title }}
      </h3>

      <p class="font-text text-sm text-gray-600 mb-4 
                xs:text-base">
        {{ if excerpt }}
        {{ excerpt }}
        {{ else }}

        {{ content }}
        {{ partial src="bard/text" excerpt="true" }}
        {{ /content }}

        {{ /if }}
      </p>

      <div class="flex items-center space-x-6 tracking-wide text-sm text-base">
        <div class="flex items-center space-x-2">
          <img
            src="/assets/images/brian-casel.jpg"
            alt="Brian Casel"
            class="h-6 w-6 rounded-full"
          />
          <div class="text-gray-400">
            Brian Casel
          </div>
        </div>
        <div class="text-gray-300 opacity-80">
          {{ date }}
        </div>
      </div>
    </div>
  </div>
</a>