<div class="{{ if context == 'desktop'}} 
              hidden font-display font-medium uppercase tracking-[4px] text-white leading-6 
              md:text-sm md:flex md:space-x-8 md:mt-2.5 
              lg:text-base
            {{ else }}
              space-y-2 py-6 font-regular text-lg
            {{ /if }}">
  {{ partial:header/nav_link context="desktop" url="/" target="" text="Newsletter" }}
  {{ partial:header/nav_link context="desktop" url="https://www.youtube.com/@fullstackfounder" target="_blank" text="YouTube" }}
  {{ partial:header/nav_link context="desktop" url="https://podcast.fullstackfounder.co" target="_blank" text="Podcast" }}
  {{ partial:header/nav_link context="desktop" url="/services" target="" text="Services" }}
</div>