<div class="{{ if screensize == 'desktop' }} 
              hidden md:flex md:items-center md:space-x-4 md:flex-1 md:justify-end md:mt-[7px]
            {{ else }}
            py-8 flex space-x-4 flex-1 justify-start  
            {{ /if }}">

  <a href="https://twitter.com/casjam" target="_blank" class="
  {{ if screensize == 'desktop' }}
  text-xl font-semibold lg:text-xl
  {{ else }}
  text-lg opacity-60 hover:opacity-100
  {{ /if }}

  {{ if mode == 'light' }}
  text-secondary-400 hover:text-primary-500
  {{ else }}
  text-secondary-200 hover:text-primary-400
  {{ /if }}">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a href="https://youtube.com/@fullstackfounder" target="_blank" class="
  {{ if screensize == 'desktop' }}
  text-xl font-semibold lg:text-2xl
  {{ else }}
  text-xl opacity-60 hover:opacity-100
  {{ /if }}

  {{ if mode == 'light' }}
  text-secondary-400 hover:text-primary-500
  {{ else }}
  text-secondary-200 hover:text-primary-400
  {{ /if }}">
    <i class="fa-brands fa-youtube"></i>
  </a>
</div>