@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

@layer base {
    body {
        @apply font-text font-light text-base/normal bg-off-white text-gray-600
            xs:text-lg/normal;
    }

    h1,
    h2,
    h3 {
        @apply font-display font-medium text-black;
    }

    h1 {
        @apply text-3xl mb-6 font-medium 
          sm:text-4xl 
          lg:text-5xl lg:tracking-tight;
    }

    h2 {
        @apply text-2xl mb-6 font-medium 
          sm:text-3xl;
    }

    h3 {
        @apply text-xl/7 font-medium pt-4
          sm:text-2xl/8 sm:pt-6;
    }

    h4 {
        @apply text-black font-medium;
    }

    a {
        @apply text-primary-500 hover:text-black;
    }

    strong {
        @apply text-black font-medium;
    }

    ul {
        @apply list-disc ml-6;
    }

    ul ul {
        @apply mt-2;
    }

    ul li {
        @apply mb-2;
    }
}

@layer components {
    .btn {
        @apply bg-primary-500 text-base tracking-widest text-white uppercase font-labels py-2 px-4 rounded font-medium 
          hover:text-white hover:bg-black;
    }

    .icon-link {
        @apply font-labels uppercase tracking-wider font-semibold flex items-center space-x-3 text-primary-500 text-sm
            sm:text-base 
            lg:text-base lg:space-x-4
            hover:text-black;
    }

    .link {
        @apply cursor-pointer text-primary-500 hover:text-black;
    }

    .sub-headline {
        @apply font-text text-xl 
            xs:text-xl/snug
            sm:text-2xl/snug;
    }
}
