<div class="pt-6 pb-7 space-y-6
            lg:space-y-0 lg:flex lg:items-start lg:space-x-20">
  <div class="space-y-6
              lg:space-y-0 lg:w-1/4 lg:flex lg:items-start lg:space-x-2">

    <div class="flex-1">
      {{ if url }}
      <a href="{{ url }}"
         target="_blank"
         class="flex items-center space-x-2 text-white
                hover:text-primary-400">
        {{ title }}
      </a>
      {{ else }}
      {{ title }}
      {{ /if }}
    </div>

    <div class="">
      <div class="uppercase tracking-widest text-base font-medium text-secondary-700 mb-1.5
                  lg:hidden">
        Started
      </div>
      <div>
        {{ started }}
      </div>
    </div>
  </div>

  <div class="space-y-6
              lg:space-y-0 lg:flex-1 lg:flex lg:items-start lg:space-x-20">

    <div class="flex-1">
      <div class="uppercase tracking-widest text-base font-medium text-secondary-700 mb-1.5
                  lg:hidden">
        Description
      </div>
      <div>
        {{ description }}
      </div>
    </div>

    <div class="flex-1">
      <div class="uppercase tracking-widest text-base font-medium text-secondary-700 mb-1.5
                  lg:hidden">
        What happened?
      </div>
      <div>
        {{ what_happened }}
      </div>
    </div>

  </div>

</div>
