<a
  href="{{ url }}"
  class="flex-1 block group"
>
  <div class="bg-white border border-surfaces-100 rounded-md p-4 pb-6 flex flex-col items-center justify-center 
              group-hover:border-primary-500 
              sm:flex sm:flex-row sm:items-start sm:justify-between sm:space-x-6 
              lg:flex-col lg:items-center lg:justify-center">
    {{ if project_logo_square }}
    <div class="w-full h-24 flex flex-col items-center justify-center text-center 
                sm:w-1/5 
                lg:w-full">
      {{ project_logo_square }}
      <img
        src="{{ url }}"
        alt="{{ alt }}"
        class="h-16 mx-auto"
        loading="lazy"
      />
      {{ /project_logo_square }}
    </div>
    {{ /if }}

    <div class="text-center 
                sm:text-left sm:flex-1 
                lg:text-center">
      <h3 class="pt-0 text-center mb-2 
                sm:text-left 
                lg:text-center">
        {{ title }}
      </h3>
      <p class="text-gray-500">
        {{ if excerpt }}
        {{ excerpt }}
        {{ else }}
        {{ content }}
        {{ partial src="bard/text" excerpt="true" }}
        {{ /content }}
        {{ /if }}
      </p>
    </div>
  </div>
</a>