<div class="mb-12">
  <h1>Full Stack Product Skills</h1>
  <p class="sub-headline">
    Brian (and occassionally his small team) are full stack software product designers, developers and strategists.
  </p>
</div>


{{ taxonomy:skills paginate="16" as="skills" sort="date:desc" }}
<div class="divide-y-2 divide-secondary-200">
  {{ skills }}
  {{ partial:listing :title="title" :description="sub_headline" }}
  {{ /skills }}
</div>
{{ if total_items > 16 }}
{{ partial:skills/pagination }}
{{ /if}}

{{ /taxonomy:skills }}
