<div class="relative bg-off-white-50">
  {{ partial:header mode="light" }}
</div>

<div class="bg-off-white-50 pb-24 sm:pb-32">
  <div class="mx-auto px-6
              xs:max-w-lg 
              lg:px-8 lg:max-w-7xl">

    <div class="space-y-16 
                lg:flex lg:items-start lg:space-x-16 lg:space-y-0 
                xl:space-x-24">
      <div class="flex-1 
                lg:pt-6 lg:w-3/4">

        <article class="space-y-6 bg-white p-6 mb-16 shadow-2xl shadow-black/20 rounded lg:p-10">

          <div>
            <h1 class="text-2xl font-bold tracking-tight xs:text-3xl sm:text-4xl lg:text-5xl">
              {{ title }}
            </h1>

            <div class="mt-6 mb-12 flex items-center space-x-6 tracking-wide text-sm text-base">
              <div class="flex items-center space-x-2">
                <img src="/assets/images/brian-casel-sm.jpg" alt="Brian Casel" class="h-6 w-6 rounded-full" />
                <div class="text-gray-400">
                  Brian Casel
                </div>
              </div>
              <div class="text-gray-300 opacity-80">
                {{ date }}
              </div>
            </div>
          </div>

          <div class="prose {{ partial:prose_classes }}">
            {{ content }}
          </div>

        </article>

      </div>

      <div class="space-y-4 
                  lg:pt-52 lg:w-1/4">

        <div class="space-y-4">
          <h3 class="text-2xl font-bold tracking-tight pt-0 mb-2 xs:text-3xl sm:text-4xl lg:text-2xl lg:font-semibold lg:mt-1">
            Don't miss an issue
          </h3>
          <p class="font-text text-base text-gray-600 
        md:text-xl
        lg:text-lg">
            Join thousands on the journey to growing as a full stack founder. New issues sent weekly by Brian Casel.
          </p>
          <div class="">
            {{ partial:newsletter_subscribe_form button_text="Subscribe" additional_classes="lg:block lg:space-y-2" }}
          </div>
        </div>

        <div>
          <h3 class="text-2xl font-bold tracking-tight pt-0 mb-2 xs:text-3xl sm:text-4xl lg:text-2xl lg:font-semibold lg:mt-1">
            Topics
          </h3>
          <div class="flex flex-wrap -mx-2">
            {{ taxonomy:categories }}
            <a href="{{ url }}" class="inline-block px-2 py-1 mb-2 mr-2 text-sm font-medium text-gray-600 bg-gray-100 rounded hover:bg-gray-200">
              {{ name }}
            </a>
            {{ /taxonomy:categories }}
          </div>
        </div>

      </div>
    </div>
  </div>